* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#topo {
    background-color: rgb(100,100,200);
}

#menu {
    background-color: blueviolet;
}

.destaques {
    background-color: chocolate;
}

#rodape {
    background-color: brown;
}

#logo {background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-position: 50px 30px;
    width: 200px;
    height: 200px;
}